<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


<footer th:fragment="footer" class="bg-dark text-center text-white mt-4">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.facebook.com/profile.php?id=100009563586964" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!--            &lt;!&ndash; Linkedin &ndash;&gt;-->
            <!--            <%&#45;&#45;            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"&#45;&#45;%>-->
            <!--            <%&#45;&#45;            ><i class="fab fa-linkedin-in"></i&#45;&#45;%>-->
            <!--            <%&#45;&#45;            ></a>&#45;&#45;%>-->

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Mọi thắc mắc xin vui lòng liên hệ
        <a class="text-white" href="https://www.facebook.com/profile.php?id=100009563586964">Facebook.com</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>